:root{
    --color-dark: #1b1b1b;
    --color-light: #fff;
    --color-gold: #c7c7c7;
}

body{
    font-family:'Oswald',sans-serif;
    font-weight: 200;
    background-color: var(--color-dark);
    color: var(--color-light);
    letter-spacing: .05rem;
}

.lead-xl{
    font-size: 1.75rem;
}

.nav-link{
    margin-left: 2rem;
}

.sideways{
    writing-mode: vertical-lr;
    display: block;
    margin: 3.5rem 0;
    transform: rotate(-180deg);
}

.btn-primary{
    background-color: transparent;
    border: 1px solid var(--color-light);
    border-radius: 0;
    color: var(--color-light);
    padding: .7rem 2.5rem;
    font-size: 1.5rem;
}